div {
  font-family: 'Inter';
}

a {
  color: inherit;
  text-decoration: inherit;
}

.author-name {
  text-transform: uppercase;
  font-size: 20px;
}

.nav {
  display: flex;
  font-size: 20px;
}

.left-column {
  flex-grow: 1;
}

.nav-link {
  margin-right: 24px;
}

.reflection-link {
  border: 1px solid black;
  border-radius: 24px;
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 12px;
  padding-right: 12px;
}


.active {
  border: 2px solid lightblue;
}

.content {
  margin-left: 172px;
  margin-right: 172px;
  margin-top: 88px;
}